<!-- Angular directives allow developers to add, modify, and selectively remove content on the dom -->


<!-- Old way -->

<h2 *ngIf="isLoggedIn; else message">{{userName}} (ngif)</h2>

<h2 *ngIf="!isLoggedIn">You are not logged in (ngif)</h2>


<ng-template #message>
  <h2>You are not logged in (ng-template #message)</h2>
</ng-template>

<!-- new way -->

@if (isLoggedIn == true){
  <h3>{{userName}} (if block)</h3>
}
@else {
  <h3>You are not logged in (else block)</h3>
}

<!-- Multiple condictions -->

<h2>Below is showcases of multiple conditionals</h2>


@if (userRole === 'Admin' ){
  <h3>Hello Admin</h3>
  <ng-container [ngTemplateOutlet]="dynamicTemplate"></ng-container>
}
@else if (userRole === 'Moderator' ) {
  <h4>Hello Moderator</h4>
}
@else if (userRole === 'Guest') {
  <p>Hello Guest</p>
}

<ng-template #dynamicTemplate>
  <p>Hello Admin</p>
</ng-template>



<button (click)="makeAdmin()">Click to be admin</button>
<button (click)="makeModerator()">Click to be Moderator</button>
<button (click)="makeGuest()">Click to be Guest</button>
<button (click)="logout()">Log Out</button>


<br>

@if(loginCount < 3){
  <button (click)="loginAttempt()">Log In</button>
}
@else {
  <p>You have failed logging in 3 times!!!</p>
}

<br>

<h3>{{friends}}</h3>
<h3>{{friends[0]}}</h3>
<h3>{{friends[1]}}</h3>
<h3>{{friends[2]}}</h3>
<h3>{{friends[3]}}</h3>

<h2>Below is a for loop with the users</h2>

<h3 *ngFor="let friend of friends">{{friend}}</h3>

<h2>Below is a for loop with syntax block</h2>

@for(friend of friends; track friend){
  <h3>{{friend}}</h3>
}

<br>

<h2>Unordered Lists</h2>

<ul>
  @for(friend of friends; track friend){
    <li>
      {{friend}}
    </li>
  }
</ul>

<h2>Unordered List with array object</h2>

@if(friendsObj.length < 1){
  <p>No Friends lmao</p>
}

<ul>
  <li *ngFor="let friend of friendsObj; let i = index">
    {{friend.name}}
    {{friend.email}}
    <button (click)="deleteFriend(i)">Delete</button>
  </li>
</ul>

<ul>
  @for(friend of friendsObj; track friend.id; let i = $index){
    <li>
      {{friend.id}}
      {{friend.name}}
      {{friend.email}}
    </li>
    <button (click)="deleteFriend(i)">Delete</button>
  }
  @empty {
    <p>No Friends lmao - Using Empty</p>
  }
</ul>

<!-- Change Detection -->

<br>

<h3>Button to add users</h3>

<button (click)="addNewUser()">Add Demo friend</button>

<div [ngSwitch]="userRole">
  <div *ngSwitchCase="'Admin'">
    You are Admin
  </div>
  <div *ngSwitchCase="'Moderator'">
    You are Moderator
  </div>
  <div *ngSwitchCase="'Guest'">
    You are Guest
  </div>
  <div *ngSwitchDefault="''">
    Please Log In
  </div>
</div>
